<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro VitaLink</title>
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico" type="image/x-icon">
    <script src="../static/js/sccript.js"></script>
    <script src="../static/js/register.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <section>
        <div th:replace="fragments/header :: header"></div>


        <main>
            <section class="section_main_registro">
                <section class="section_form_registro">
                    <form id="form-registro">
                        <p>
                            <label for="nombre">Nombre:<strong>*</strong></label>
                            <input type="text" name="nombre" id="nombre" required>
                        </p>
                        <p>
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" id="apellidos" name="apellidos">
                        </p>
                        <p>
                            <label for="nacimiento">Fecha de Nacimiento:</label>
                            <input type="date" id="nacimiento" name="nacimiento">
                        </p>
                        <p>
                            <label for="correoElectronico">Correo Electrónico:<strong>*</strong></label>
                            <input type="email" name="correoElectronico" id="correoElectronico" required>
                        </p>
                        <p>
                            <label for="telefono">Teléfono:<strong>*</strong></label>
                            <input type="tel" id="telefono" name="telefono" required>
                        </p>
                        <p id="document_id">
                            <select name="tipoDocumento" id="tipoDocumento">
                                <option value="dni">DNI</option>
                                <option value="nif">NIF</option>
                            </select>
                            <input type="text" id="numeroIdentificacion" name="numeroIdentificacion" required placeholder="Número de documento">
                        </p>
                        <p>
                            <label for="numeroTarjetaSanitaria">Nº Tarjeta Sanitaria:</label>
                            <input type="text" id="numeroTarjetaSanitaria" name="numeroTarjetaSanitaria">
                        </p>
                        <p>
                            <label for="genero">Género:</label>
                            <select name="genero" id="genero">
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>
                                <option value="otro">Otro</option>
                            </select>
                        </p>
                        <p>
                            <label for="direccion">Dirección:</label>
                            <input type="text" id="direccion" name="direccion">
                        </p>
                        <p>
                            <label for="ciudadId">Ciudad:<strong>*</strong></label>
                            <select id="ciudadId" name="ciudadId">
                                <option value="">Seleccione una ciudad</option>
                                <!-- Opciones dinámicas si usas JS -->
                            </select>
                        </p>
                        <p>
                            <label for="cpId">Código Postal:</label>
                            <input type="text" id="cpId" name="cpId">
                        </p>
                        <p>
                            <label for="contrasenia">Contraseña:</label>
                            <input type="password" id="contrasenia" name="contrasenia">
                        </p>
                        <p class="politicsUse">
                            <input type="checkbox" id="politcs_privacy" name="politcs">
                            <label for="politcs_privacy">Acepto los <a href="#"><strong>Términos y Condiciones</strong></a></label>
                        </p>
                        <p>
                            <button type="submit" id="btn-submit">Enviar</button>
                        </p>
                    </form>

                </section>
            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>
    </section>
</body>
</html>