<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro VitaLink</title>
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico}" type="image/x-icon">
    <script src="./static/js/script.js" defer></script>
    <script src="./static/js/register.js" defer></script>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <section>
        <div th:replace="~{fragments/header :: header}"></div>

        <main>
            <section class="section_main_registro">
                <section class="section_form_registro">
                    <h2 th:text="${usuario?.id == 0 ? 'Nuevo Usuario' : 'Editar Usuario'}"></h2>
                    <form id="form-registro" th:action="@{/guardarUsuario}" method="POST"  th:object="${usuario}" novalidate>
                        <p>
                            <label for="username">Usuario:<strong>*</strong></label>
                            <input type="text" name="username" id="username" required>
                        </p>
                        <p>
                            <label for="password">Password:</label>
                            <input type="text" id="password" name="password">
                        </p>
                        <p>
                            <label for="rol">Rol:</label>
                            <select id="rol" name="rol">
                                <option value=""></option>
                                <option value="User">Usuario</option>
                                <option value="Admin">Administrador</option>
                            </select>
                        </p>
                        <p>
                            <button type="submit" id="btn-submit-db">Enviar</button>
                        </p>
                    </form>
                    <div th:if="${param.error}" class="">
                        El usuario o contraseña no es válido
                    </div>
                    <div th:if="${error!=null}" th:text="${error}" class="alert alert-danger" role="alert"></div>

                </section>
            </section>
        </main>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </section>
</body>
</html>